Sets are builtin data-type  in python used to store collections of unique items .
-->They are unorderd , do not allow duplicate elements .
-->sets are useful for membership test , eliminating duplicate entries and performing mathematical opeartions.

In [12]:
#Create a  Set

my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

empty_set=set()
my_set=set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5}

In [13]:
print(my_set.remove(2))
#my_set.remove(10) #key error
print(my_set.discard(11)) #No error 
print(my_set.pop())
print(my_set)

None
None
1
{3, 4, 5}

In [15]:
my_set.clear()
my_set

set()

In [ ]:

#Membership test
my_set={1,2,3,4,5,6}
print(3 in my_set)
print(17 in my_set)

True
False

Mathematical Operation

In [ ]:

set1={1,2,3,4,5}
set2={4,5,6,7,8}

#Union 
union_set=set1.union(set2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
#Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{4, 5}
{4, 5}

In [27]:
#Difference
set1={1,2,3,4,5,6}
set2={3,5,6,7,8}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 4}
{8, 7}

In [28]:
#symmetric difference
set1.symmetric_difference(set2)

{1, 2, 4, 7, 8}

In [29]:
print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

Q // counting Unique words in text

In [30]:
text="hey, i'm prakash sahoo and we are discussing about sets"
words=text.split()
#convert this list to set
unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'hey,', 'are', 'discussing', 'prakash', 'we', 'sets', "i'm", 'sahoo', 'about', 'and'}
10