## A map function applies a Given Function to all items in an input list (or any iterable) and return a map Object (iterator)

## map(function,iterable)

## use when u want to transform or modify every elemnt in a list.

In [1]:
#Example-

def Square(x):
    return x*x
Square(10)

num=[1,2,3,4,5]
list(map(Square,num))

[1, 4, 9, 16, 25]

In [2]:
# MAp with lambda

num=[1,2,3,4,5,6,7]
list(map(lambda x:x*x,num))

[1, 4, 9, 16, 25, 36, 49]

In [4]:
#Map with Multiple iterator
num1=[1,2,3]
num2=[3,4,5]
added_num=list(map(lambda x,y:x+y,num1,num2))
print(added_num)

[4, 6, 8]

In [5]:
#Map to convert a list of Strings to integers

str_num=['1','2','3','4']
int_num=list(map(int,str_num))
print(int_num)

[1, 2, 3, 4]

In [10]:
#To convert uppercase

words=['apple','banana','chhery']
uppercase_string=list(map(str.upper,words))
print(uppercase_string)

['APPLE', 'BANANA', 'CHHERY']

In [ ]:

person=[
    {'name':'Prakash','age':21},
    {'name':'Hitesh','age':23}
]

def get_name(person):
    return person['name']


list(map(get_name,person))

['Prakash', 'Hitesh']